[submodule "ATMESH"]
	path = ATMESH
  	url = https://github.com/noaa-ocs-modeling/ATMESH.git
	branch = nd_adc-v55_dev
[submodule "WW3DATA"]
	path = WW3DATA
	url = https://github.com/noaa-ocs-modeling/WW3DATA.git
	branch = nd_adc-v55_dev
[submodule "ADCIRC"]
	path = ADCIRC
	url = https://github.com/moghimis/adcirc-cg.git
	branch = nd_adc-v55_dev
[submodule "NWM"]
	path = NWM
	url = https://github.com/noaa-ocs-modeling/nwm_public_nuopc.git
	branch = nd_adc-v55_dev
[submodule "NEMS"]
	path = NEMS
	url = https://github.com/zacharyburnettNOAA/NEMS.git
	branch = nd_adc-v55_dev
[submodule "WW3"]
	path = WW3
	url = https://github.com/noaa-ocs-modeling/WW3.git
	branch = nd_ww3
