[submodule "ATMESH"]
	path = ATMESH
	url = https://github.com/noaa-ocs-modeling/ATMESH.git
	branch = master
[submodule "WW3DATA"]
	path = WW3DATA
	url = https://github.com/noaa-ocs-modeling/WW3DATA.git
	branch = master
[submodule "WW3"]
	path = WW3
	url = https://github.com/noaa-ocs-modeling/WW3.git
	branch = master
[submodule "NEMS"]
	path = NEMS
	url = https://github.com/noaa-ocs-modeling/NEMS.git
	branch = develop
[submodule "ADCIRC"]
	path = ADCIRC
	url = https://github.com/adcirc/adcirc-cg.git
	branch = v55_nuopc
[submodule "NWM"]
	path = NWM
	url = https://github.com/noaa-ocs-modeling/nwm_public_nuopc.git
	branch = feature/adcirc_v55
[submodule "PAHM"]
	path = PAHM
	url = https://github.com/noaa-ocs-modeling/PaHM
	branch = main
[submodule "BARDATA"]
	path = BARDATA
	url = https://github.com/noaa-ocs-modeling/BARDATA
